@font-face {
  font-family: $Font1Family;
  src: url(https://fonts.google.com/specimen/Barlow);
}

@font-face {
  font-family: $Font2Family;
  src: url(https://fonts.google.com/specimen/Fraunces);
}

@import url();
