// @font-face {
//   font-family: $Font1Family;
//   src: url(https://fonts.google.com/specimen/Barlow);
// }

// @font-face {
//   font-family: $Font2Family;
//   src: url(https://fonts.google.com/specimen/Fraunces);
// }

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,900;1,700&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
body,
html {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style-type: none;
}

html {
  padding: 0;
  margin: 0;
}