@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,900;1,700&display=swap");
.container {
  height: auto;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 700px (550px)[3];
      grid-template-rows: 700px repeat(3, 550px);
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.section1 img {
  width: 100%;
  height: 100%;
}

.section1 h3 {
  font-weight: bold;
  font-size: 40px;
  font-family: "Fraunces", serif;
}

.section1 p {
  font-size: 18px;
  line-height: 24px;
  font-family: "Barlow", sans-serif;
  font-size: 400;
}

.section1 h6 {
  font-weight: bold;
  cursor: pointer;
  font-family: "Fraunces", serif;
}

.section1 .wrapText {
  width: 70%;
}

.section1 .wrapText > * {
  margin: 12px 0;
}

.section1 .section1TopArea {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  position: relative;
}

.section1 .section1TopArea .hamburger {
  display: none;
}

.section1 .section1TopArea header {
  height: 80px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  left: 2px;
  min-width: 100%;
  font-family: "Barlow", sans-serif;
  padding: 0 16px;
  font-size: 18px;
}

.section1 .section1TopArea .leftNav {
  color: white;
  font-size: 40px;
}

.section1 .section1TopArea .rightNav {
  width: 40%;
}

.section1 .section1TopArea .rightNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.section1 .section1TopArea .rightNav ul li {
  margin: 4px;
  padding: 0;
  font-family: "Barlow", sans-serif;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.section1 .section1TopArea .rightNav ul li:hover {
  color: #fe7867;
}

.section1 .section1TopArea .rightNav ul li:last-child {
  color: white;
  background-color: #49abd4;
  font-family: "Fraunces", serif;
  opacity: 0.9;
}

.section1 .section1TopArea .rightNav ul li:last-child:hover {
  opacity: 1;
  background-color: #2d92be;
}

.section1 .section1TopArea .topText {
  position: absolute;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.section1 .section1TopArea .topText h1 {
  color: white;
  font-weight: bold;
  font-size: 54px;
  margin-bottom: 72px;
  letter-spacing: 3px;
  font-family: "Fraunces", serif;
}

.section1 .mid1Text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  background-color: #f7f7f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .mid1Image {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / span 6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.section1 .mid2Image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
}

.section1 .mid2Text {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / span 6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  background-color: #f7f7f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .bottomWrap {
  position: absolute;
  top: 55%;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.section1 .bottomWrap > h3 {
  margin-bottom: 36px;
  font-family: "Fraunces", serif;
}

.section1 .bottomImage1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section1 .bottomImage2 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4 / 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.section2 {
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f8;
}

.section2 h1 {
  margin: 50px 0 50px 0;
  font-size: 18px;
  color: #a7abae;
  letter-spacing: 2px;
  font-family: "Fraunces", serif;
}

.section2 .description {
  font-size: 18px;
  line-height: 24px;
  font-family: "Barlow", sans-serif;
}

.section2 h4 {
  font-family: "Fraunces", serif;
}

.section2 small {
  font-family: sans-serif;
  color: #a7abae;
}

.section2 .testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px;
}

.section2 .testimonials .first,
.section2 .testimonials .second,
.section2 .testimonials .third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 20%;
  text-align: center;
  margin: 16px;
}

.section2 .testimonials .first > div,
.section2 .testimonials .second > div,
.section2 .testimonials .third > div {
  margin-bottom: 48px;
}

.section2 .thumbnail {
  width: 70px;
  height: 7 0px;
}

.section2 .thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.section3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 350px 250px;
      grid-template-rows: 350px 250px;
}

.section3 img {
  width: 100%;
  height: 100%;
}

.section3 .image1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.section3 .image2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.section3 .image3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.section3 .image4 {
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-column: 10 / span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
}

.section3 .base {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #9ccec4;
}

.section3 .base .baseWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 h6 {
  color: #25564b;
  text-align: center;
  font-size: 36px;
  margin: 36px 0;
  font-family: "Fraunces", serif;
}

.section3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.section3 ul li {
  cursor: pointer;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  color: #458c7e;
}

.section3 ul li:hover {
  color: white;
}

.section3 .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 180px;
  margin: 68px 0;
}

.section3 .socials > div {
  cursor: pointer;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
body,
html {
  margin: 0;
  padding: 0;
}

ul,
li,
ol {
  list-style-type: none;
}

html {
  padding: 0;
  margin: 0;
}

@media (max-width: 874px) {
  .section1 .section1TopArea header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Barlow", sans-serif;
    padding: 0 16px;
    font-size: 16px;
  }
  .section1 .section1TopArea header .leftNav {
    font-size: 35px;
  }
  .section1 .section1TopArea header .rightNav {
    width: 80%;
  }
  .section1 .section1TopArea header .rightNav ul {
    width: 25%;
    margin-left: 15%;
  }
  .section1 .section1TopArea header .rightNav ul li {
    margin: 16px;
  }
}

@media (max-width: 610px) {
  .section1 .bottomWrap h3 {
    margin-bottom: 4px;
    font-size: 30px;
  }
  .section1 .bottomImage1 p {
    width: 280px;
    margin: 36px;
  }
  .section1 .bottomImage2 p {
    margin: 36px;
    width: 200px;
  }
  .section1 .section1TopArea header .rightNav ul {
    width: 15%;
    margin-left: 15%;
  }
  .section1 .section1TopArea header .rightNav ul li {
    margin: 4px;
  }
  .section1 .section1TopArea .topText h1 {
    font-size: 36px;
  }
  .section1 .mid1Text, .section1 .mid2Text {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .section2 .testimonials .first > div {
    margin-bottom: 50px;
  }
  .section2 .testimonials .first > div.thumbnail, .section2 .testimonials .first > div .description {
    margin-bottom: 64px;
  }
}

@media (max-width: 499px) {
  .container {
    min-width: 375px;
  }
  .section1 .section1TopArea .rightNav {
    display: none;
  }
  .section1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 400px 250px 300px 400px 300px 400px 400px;
        grid-template-rows: 400px 250px 300px 400px 300px 400px 400px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "splitorange" "egg" "transformtext" "cup" "standout" "apple" "fullorange";
  }
  .section1 .section1TopArea {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: splitorange;
  }
  .section1 .section1TopArea header {
    height: 40px;
  }
  .section1 .section1TopArea header .leftNav {
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: auto;
  }
  .section1 .section1TopArea header .leftNav strong {
    font-size: 28px;
    font-weight: 600;
  }
  .section1 .section1TopArea header .leftNav .hamburger {
    display: inline-block;
    margin: 4px 16px;
  }
  .section1 .section1TopArea .topText {
    top: 70px;
  }
  .section1 .section1TopArea .topText h1 {
    font-size: 32px;
    width: 70%;
    text-align: center;
    margin-bottom: 12px;
  }
  .section1 .mid1Image {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: egg;
  }
  .section1 .mid1Text {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: transformtext;
  }
  .section1 .mid2Image {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: cup;
  }
  .section1 .mid2Text {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: standout;
  }
  .section1 .bottomImage1 {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: apple;
  }
  .section1 .bottomImage2 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: fullorange;
  }
  .section1 .wrapText {
    text-align: center;
    width: 100%;
    margin: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1 .wrapText .dropdown {
    margin-left: 35%;
  }
  .section1 .wrapText .dropdown .hoverDash {
    left: 5px;
    min-width: 90px;
    bottom: -14px;
  }
  .section1 .wrapText .dropdown h6 {
    font-size: 12px;
  }
  .section1 .bottomImage1 p {
    margin: 12px;
    width: 320px;
  }
  .section1 .bottomImage2 p {
    margin: 12px;
    width: 320px;
  }
  .section2 {
    height: 1200px;
  }
  .section2 h1 {
    margin: 32px;
  }
  .section2 .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1200px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 24px;
  }
  .section2 .testimonials .first > div,
  .section2 .testimonials .second > div,
  .section2 .testimonials .third > div {
    margin-bottom: 32px;
  }
  .section2 .testimonials .first > div.thumbnail, .section2 .testimonials .second > div.thumbnail, .section2 .testimonials .third > div.thumbnail {
    margin-bottom: 52px;
  }
  .section3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: 200px 200px 250px;
        grid-template-rows: 200px 200px 250px;
  }
  .section3 img {
    width: 100%;
    height: 100%;
  }
  .section3 .image1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .section3 .image2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / span 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .section3 .image3 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / span 6;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .section3 .image4 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 6;
    grid-column: 7 / span 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  .section3 .base {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
  }
}

.section1 .section1TopArea .rightNav ul li:last-child, .modalContainer .modalWindow .mobileNav ul li:last-child {
  cursor: pointer;
  padding: 12px 20px;
  border: none;
  font-size: inherit;
  border-radius: 24px;
}

.hamburger {
  cursor: pointer;
}

.section1 .dropdown {
  position: relative;
  display: inline-block;
}

.section1 .dropdown .hoverDash {
  position: absolute;
  min-width: 82px;
  height: 6px;
  border-radius: 4px;
  z-index: 1;
  display: none;
  bottom: -14px;
  left: -2px;
  cursor: pointer;
}

.section1 .dropdown .hoverDash.red {
  background-color: #fe7867;
}

.section1 .dropdown .hoverDash.yellow {
  background-color: #fad400;
}

.section1 .dropdown h6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
}

.section1 .dropdown:hover h6 {
  z-index: 100;
  display: block;
}

.section1 .dropdown:hover .hoverDash {
  display: inline-block;
}

.modalContainer {
  position: fixed;
  top: 75px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalContainer .modalWindow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  position: relative;
  width: 330px;
  height: 290px;
}

.modalContainer .modalWindow .modalTip {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 25px solid white;
  border-left: 25px solid transparent;
  top: -25px;
  right: 0;
}

.modalContainer .modalWindow .closeMobileModal {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 4px;
  color: #19536b;
  cursor: pointer;
  z-index: 100;
}

.modalContainer .modalWindow .closeMobileModal:hover, .modalContainer .modalWindow .closeMobileModal :active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #fe7867;
}

.modalContainer .modalWindow .mobileNav ul li {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  margin: 30px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modalContainer .modalWindow .mobileNav ul li:hover {
  color: #fe7867;
}

.modalContainer .modalWindow .mobileNav ul li:last-child {
  color: #23303e;
  background-color: #fad400;
  font-weight: 600;
}
/*# sourceMappingURL=index.css.map */